#highlights{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.highlights__title{
    color: var(--brown);
    font-size: 3em; 
    margin: 2em 0;
}

.highlights__organizer {
  display: flex;
  flex-wrap: wrap;
}

.highlightMap__img {
  width: 50%;
}

