.modal {
  width: clamp(50%, 700px, 90%);
  /* height: min(50%, 300px); */

  margin: auto;
  padding: 0 2em;
  border-radius: 1em;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--orange);
  z-index: 100;
}

.modal__table{
    border: .1em solid black;
}

.modal > h2{
    text-align: center;
}
