.modalOpen{
    max-height: 100vh;
    overflow: hidden;
}

.modal {
    position: fixed;
  width: clamp(50%, 700px, 90%);
  /* height: min(50%, 300px); */
  margin: auto;
  padding: 1em 2em;
  border-radius: 1em;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: var(--orange);
  z-index: 100;
  gap: 1em;
}

.sub__org{
    display: flex;
    gap: 1em;
}

.sub__input{
    font-size: 1.3em;
    background-color: transparent;
    color: var(--white);
    outline: .1em solid var(--white);
    border-radius: .5em;
    padding: .25em .75em;
    border: none;
}

.sub__org > button::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-color: var(--white);
    opacity: 1;
}

.sub__org > button > h1
{
    font-size: 1.5em;
    color: var(--orange);
}
.sub__org > button > span > svg{
    font-size: 2em !important;    
    color: var(--orange);
}

.modal__table{
    border: .1em solid black;
    width: 55%;
}

.modal > h2{
    font-size: 1.25em;
    text-align: center;
}

.modal > p{
    font-weight: 600;
}

