#art {
  flex-direction: column;
}

.artMap__container {
  position: relative;
}

.artMap__hover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 300ms ease;
  background-color: #24242483;
  z-index: 0;
}

.artMap__container:hover .artMap__hover {
  opacity: 1;
  z-index: 10;
}

.artMap__title {
  color: var(--white);
  font-size: 3em;
  letter-spacing: .2em;
}

.artMap__hover > button {
  font-size: 1.5em;
  color: var(--white);
}

.artMap__btn > span > .MuiSvgIcon-root {
  font-size: 1.2em;
}
