footer {
  margin-top: 2em;
  padding: 1em 0;
  background-color: var(--purple);
}

.footer__row > div:nth-child(n) {
  flex: 1;
  padding: 0 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.25em;
}

.footer__row > div:nth-child(1) {
  border-right: 0.2em solid var(--orange);
  align-items: flex-start;
}

.footer__row > div:nth-child(2) {
  align-items: center;
}

.footer__row > div:nth-child(3) {
  border-left: 0.2em solid var(--orange);
  align-items: flex-end;
}

footer :is(h1) {
  font-size: 1.5em;
  margin-bottom: 1em;
  color: var(--brown);
}

.footer__categories :is(a),
.footer__sub :is(a),
.footer__contact :is(a) {
  color: var(--brown);
  font-size: 1.2em;
  letter-spacing: 0.05em;
  text-decoration: none;
  font-weight: 600;
}

.footer__categories > li,
.footer__sub > li,
.footer__contact > li {
  position: relative;
}

.footer__hover--effect {
  position: absolute;
  width: 0;
  height: 0.2em;
  right: 0;
  background-color: var(--orange);
  border-radius: 5px;
  transition: all 500ms ease;
}

.footer__categories > li:hover .footer__hover--effect,
.footer__sub > li:hover .footer__hover--effect,
.footer__contact > li:hover .footer__hover--effect {
  left: 0;
  width: 100%;
}

.footer__sub > button {
  position: relative;
  color: var(--orange);
  margin-bottom: 1em;
}

.footer__sub > button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-color: var(--orange);
  opacity: 0.1;
}

.footer__sub > button > span > svg {
  font-size: 1.8em !important;
}

.footer__sub > button > h1 {
  color: var(--orange);
  margin-bottom: 0;
}

.footer__sub > p {
  color: var(--brown);
  text-align: center;
  font-size: 1.2em;
  font-weight: 600;
}
.footer__contact > li {
  margin-bottom: .25em;
}

.footer__contact > li > a {
  display: flex;
  align-items: center;
  gap: .25em;
}


.modalOpen :is(footer){
  opacity: 0;
}