.nav__background {
  width: 100%;
  height: 5em;
  background-color: var(--purple);
  position: fixed;
  z-index: 10;
}

.nav__background::before,
.nav__tab::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 1em 0.25em var(--purple);
  border-radius: 0.5em;
  opacity: .85;
}

nav {
  display: flex;
  align-items: center;
  height: 100%;
  max-width: 1200px;
  padding: 0 2em;
  margin: 0 auto;
  gap: 1em;
}

.nav__icon:hover{
  cursor: pointer;
}

.nav__icon > img {
  width: 8em;
}

.nav__searchBar {
  display: flex;
  align-items: center;
  flex: 0.45;
  height: 2.5em;
  background-color: var(--white);
  border-radius: 10em;
  border: 0.15em solid lightgrey;
  padding: 0 1em;
  transition: all 300ms ease;
}
.nav__searchBar:hover,
.nav__searchBar:hover .searchBar__input {
  background-color: rgb(255, 255, 255);
}

.searchBar__input {
  flex: 1;
  border: none;
  font-size: 0.9em;
  outline: none;
  font-weight: 300;
  background-color: var(--white);
  transition: all 300ms ease;
}

.nav__searchBar > .MuiSvgIcon-root {
  color: rgb(100, 100, 100);
}

.nav__shortcuts {
  display: flex;
  gap: 0.5em;
  flex: 0.55;
}

.nav__shortcuts > a > button {
  width: 100%;
  color: var(--brown);
  font-family: "Michroma", sans-serif;
}

.nav__tab {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  padding: 0.5em 1em;
  top: 5em;
  left: 50%;
  min-width: 50em;
  transform: translateX(-50%);
  background-color: var(--purple);
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  gap: 1em;
}

.nav__logo {
  width: 5.5em;
}

.links__list {
  display: flex;
  height: 3.5em;
  width: 100%;
  gap: 0.5em;
}

.links__list > a,
.links__list > a > button {
  color: var(--brown);
  height: 100%;
}

.links__list > a,
.nav__shortcuts > a {
  flex: 1;
  border-radius: 4px;
  border: 2px solid transparent;
  transition: all 300ms ease;
}

.links__list > a > button {
  width: 100%;
}

.active,
.links__list > a:hover,
.nav__shortcuts > a:hover {
  border-color: var(--orange) !important;
  background-color: #9188df;
}

.active .navLink,
.active .MuiButton-endIcon {
  color: var(--white);
}

.navLink {
  font-size: 1em;
  font-weight: normal;
}
