.polaroid{
    position: relative;
    /* width: 20em; */
}

.frame{
    z-index: 2;
}

.framed__img{
    position: absolute;
    width: 85%;
    min-height: 75%;
    top: 1.5em;
    left: 1.5em;
}

.frame__tag{
    position: absolute;
    left: .8em;
    bottom: .8em;
    z-index: 5;
    font-size: 2em;
    letter-spacing: .1em;
    font-family: 'Caveat', cursive;
    color: var(--brown);
}