.polaroid{
    position: relative;
    /* width: 20em; */
}

.frame{
    z-index: 2;
}

.framed__img{
    position: absolute;
    width: 85%;
    min-height: 75%;
    max-height: 85%;
    top: 1.5em;
    left: 1.5em;
}

.frame__tag{
    position: absolute;
    left: .8em;
    bottom: .8em;
    font-size: 2em;
    z-index: 5;
    letter-spacing: .1em;
    font-family: 'Caveat', cursive;
    color: var(--brown);
}

.artFocus__alter--polaroid{
    width: calc((100% - 25em) / 3);
}

.artFocus__alter--polaroid > .frame__tag{
    font-size: 1.25em;
    bottom: 1em;
}
