.slideshow__organizer{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.slideshow{
    cursor: grab;
    overflow: hidden;
}

.inner-slideshow{
    display: flex;
}

.inner-slideshow:hover{
    animation: none;
}

.slideshow__img{
    padding: 1em;
}

.gallerySlideshow__img{
    min-width: 60em;
}

.multiSlideshow__img{
    min-width: 30em;
}

.slideshow__img > img{
    pointer-events: none;
    border-radius: 1em;
}

.slideshow__organizer > .MuiSvgIcon-root{
    font-size: 2.5em;
    color: var(--brown);
    margin: 0 auto;
    animation: slideR 3s infinite alternate-reverse;
}

@keyframes slideR {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-4em);
    }
}