* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 1;
  font-family: "Roboto Condensed", sans-serif;
}

html {
  scrollbar-width: 0;
}

html::-webkit-scrollbar {
  display: none;
}

img {
  width: 100%;
}

figure {
  display: flex;
  overflow: hidden;
}

.top__section {
  min-height: 100vh;
  padding-top: 4em;
}

section {
  display: flex;
}

.top__container {
  padding-top: 6em;
}

.container {
  width: 100%;
  min-height: 100%;
}

.row {
  display: flex;
  max-width: 1400px;
  padding: 0 2em;
  margin: 0 auto;
}

button {
  text-transform: capitalize !important;
}

h1 {
  font-family: "Michroma", sans-serif;
}

li {
  list-style: none;
}

.divider__title {
  color: var(--brown);
  font-size: 3em;
  margin: 2em 0;
  text-align: center;
}
